{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог книг</title>

   <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header>
        <h1>Каталог книг</h1>

        <nav>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'book_list' %}">Все книги</a>
            <a href="{% url 'book_create' %}">Добавить книгу</a>
            <a href="/admin/">Админка</a>
        </nav>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        Учебный проект на Django.
        Выполнен студенткой группы И/24/09-о Бруева Дарья Денисовна.
    </footer>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>