{% extends 'base.html' %}

{% block content %}
    <h2>Добро пожаловать в каталог книг!</h2>

    <p>
        Это простой учебный сайт, созданный на Python с использованием Django.
    </p>

    <p>
        Здесь можно хранить информацию о книгах: название, автора, жанр,
        дата публикации и описание.
    </p>

    <p>
        В проекте реализованы основные операции:
        просмотр, добавление, редактирование и удаление книг.
    </p>

    <a class="btn" href="{% url 'book_list' %}">Перейти к списку книг</a>
    <a class="btn" href="{% url 'book_create' %}">Добавить книгу</a>
{% endblock %}